* {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
  font-family: Roboto !important;
}

:where(.css-dev-only-do-not-override-17aj3u5).ant-notification-notice {
  width: max-content;
}

:where(
    .css-dev-only-do-not-override-17aj3u5
  ).ant-menu-light.ant-menu-root.ant-menu-inline,
:where(
    .css-dev-only-do-not-override-17aj3u5
  ).ant-menu-light.ant-menu-root.ant-menu-vertical {
  border-inline-end: none;
}

// Layou Background White
:where(.css-dev-only-do-not-override-17aj3u5).ant-layout {
  background: white;
}
