$white: #fff;
$black: #000;

$primary-blue-one: #80b0f8;
$primary-blue-two: #0f5bcd;
$primary-blue-three: #052c67;

$danger-one: #f31616;

$like-color: #fc4755;

$border-color: #0000004d;
$placeholder-color: #00000080;
$title-color: #000;
$subtitle-color: #00000099;
$data-info-color: rgb(115, 115, 115);
